{% extends 'main.html' %}

{% block content %}
<h1>All Projects list</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody> 
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'single_project' project.id %}">{{ project.title }}</a></td>
                <td>{{ project.description }}</td>
                <td><a href="{% url 'update_project' project.id %}">UPDATE</a></td>
                <td><a href="{% url 'delete_project' project.id %}">DELETE</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}